<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContainerGMD</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div id="toast-container"></div>
    <h3>Containers</h3>
    <div class="sspp container-chromeium">
    Chromeium   <button onclick="document.getElementById('chromeium-start').submit()">Start</button>  <button onclick="document.getElementById('chromeium-stop').submit()">Stop</button> <a href="https://effective-carnival-jjgwvj6p7xx7fpgq5-2156.app.github.dev" target="_blank"><button>Open In Browser</button></a>
    <div class="container-chromeium hidden-forms">
    <form method="POST" id="chromeium-start" action="/cmd1/chromeium started">
        <input type="hidden" name="path4" value="/">
        <input type="hidden" name="rsp_path" value='docker run --rm -d  --name=code_chromeium   --security-opt seccomp=unconfined `#optional`   -e PUID=1000   -e PGID=1000   -e TZ=Etc/UTC   -e CHROME_CLI=https://www.google.com/ `#optional`   -p 2156:3000  --shm-size="1gb"   lscr.io/linuxserver/chromium:latest'>
</form>
        <form method="POST" id="chromeium-stop" action="/cmd1/chromeium stoped">
            <input type="hidden" name="path4" value="/">
            <input type="hidden" name="rsp_path" value='docker kill code_chromeium'>

        </form>
        </div>
    </div>
    <div class="sspp container-webtop">
    KDE   <button onclick="document.getElementById('webtop-start').submit()">Start</button>  <button onclick="document.getElementById('webtop-stop').submit()">Stop</button> <a href="https://effective-carnival-jjgwvj6p7xx7fpgq5-2345.app.github.dev" target="_blank"><button>Open In Browser</button></a>
    <div class="container-chromeium hidden-forms">
    <form method="POST" id="webtop-start" action="/cmd1/webtop started">
        <input type="hidden" name="path4" value="/">
        <input type="hidden" name="rsp_path" value='docker run -d --rm --name=code_webtop  --security-opt seccomp=unconfined `#optional`   -e PUID=1000   -e PGID=1000   -e TZ=Asia/Tehran   -e SUBFOLDER=/ `#optional`   -e TITLE=DESKTOP `#optional`   -p 2345:3000   --shm-size="2gb" `#optional`   lscr.io/linuxserver/webtop:arch-kde'>
</form>
        <form method="POST" id="webtop-stop" action="/cmd1/webtop stoped">
            <input type="hidden" name="path4" value="/">
            <input type="hidden" name="rsp_path" value='docker kill code_webtop'>

        </form>
        </div>
    </div>
</body>
</html>
<script src="/static/script.toast.js"></script>
{% for s in flmsgs() %}
<script>showToast("{{ s }}")</script>
{% endfor %}